nav {
    background-color: aqua;
}
.navbar { 
    float: center;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: aqua;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.navbar a:hover{
    background-color: chartreuse;
}
a{ 
    text-decoration: none;
    text-emphasis-color: black;
}
.banner {
    text-align: center;
    font-size: 50px;
}
body{
    background-color: blue;
}

main{
    position: fixed;
    top: 50%;
}