nav {
    background-color: aqua;
}
.navbar { 
    float: center;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: aqua;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.navbar a:hover{
    background-color: chartreuse;
}
a{ 
    text-decoration: none;
    text-emphasis-color: black;
}
.banner {
    text-align: center;
    font-size: 50px;
}
body{
    background-color: rgb(11, 1, 65);
    /*
    background-image: url(../images/free-stars-pattern-vectors.jpg);
    background-repeat: repeat;
    */
    color: white;
}

.main_section{
    display: flex;
    flex-direction: row;
}
.main_section>article{
    flex:1 1 70%;
    border: 2px solid white;
    margin-top: 10px;
}
.main_section article h1{
    text-align: center;
    
}
.main_section>aside{
    display: flex;
    flex:1 1 30%;
    flex-direction: column;
    border: 2px solid white;
    margin-top: 10px;
}
.main_section aside h2{
    text-align: center;
}

img {
    width: 96%;
    height: auto;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }