nav {
    background-color: aqua;
}
.navbar { 
    float: center;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: aqua;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.navbar a:hover{
    font-size: 30px;
    color: red;
}

a{ 
    text-decoration: none;
    text-emphasis-color: black;
}
.banner {
    text-align: center;
    font-size: 50px;
    color: red;
}
.heading{
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    background:purple;
    margin-right: 25%;
    margin-left: 25%

}
.articleImage{
    display:block;
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right:auto;
}
figcaption{
    text-align: center;
    font-size: 15px;
    color:red;
}

body{
    background-color: blue;
    background-color: darkblue;
}