nav {
    background-color: aqua;
    }
.navbar {
    float: center;
    text-align: center;
    padding: 10px 25px;
    font-size: 25px;
    background-color: aqua;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navbar a:hover{
    background-color: chartreuse;
}
a{ 
    text-decoration: none;
    text-emphasis-color: black;
}
.banner {
    display: none;
    text-align: center;
    font-size: 50px;
    color: red;
}
/**New added conflict*/
.heading{
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
    background:purple;
    margin-right: 25%;
    margin-left: 25%

}
/**
.articleImage{
    display:block;
    width: 500px;
    height: 350px;
    margin-left: auto;
    margin-right:auto;
}
**/
figcaption{
    text-align: center;
    font-size: 15px;
    color:red;
}
/**New added conflict*/



body{
    background-color: rgb(233, 170, 35);
    /*
    background-image: url(../images/free-stars-pattern-vectors.jpg);
    background-repeat: repeat;
    */
    color: white;
}

.main_section{
    display: flex;
    flex-direction: column;
}
.main_section>article{
    flex:1 1 70%;
    border: 2px solid white;
    margin-top: 10px;
}
.main_section article h1{
    text-align: center;
    
}
.main_section>aside{
    display: flex;
    flex:1 1 30%;
    flex-direction: row;
    border: 2px solid white;
    margin-top: 10px;
}
.main_section aside h2{
    text-align: center;
}

img {
    width: 96%;
    height: auto;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

